<h2 mat-dialog-title>Community Announcement</h2>
<mat-dialog-content class="mat-typography">
  <h3>Dear Reddit Community,</h3>
  <p>It is with a heavy heart that I must officially announce our defeat to the up-and-coming website Tidder, created by
    a trio of undergrad students from UBC. We have been bested by their innovative approach to community-driven content
    and their dedication to creating a user-friendly platform.
  </p>

  <p>As the CEO of Reddit, I must admit that we have been beaten fair and square. In fact, we've been so soundly
    thrashed that we've decided to close up shop and call it quits. That's right, we're throwing in the towel, shutting
    down our servers, and moving on to new endeavors.</p>

  <p>I know this may come as a shock to many of you, but we must bow to the superior intelligence of our Tidder
    overlords. It seems that these three students have managed to create a site that is just as addictive and engaging
    as our own, but with a fresh and exciting new approach.</p>

  <p>So, from the bottom of my heart, I would like to extend my congratulations to the Tidder team. You have created
    something truly special, and we are honored to have been a part of this amazing journey. We may have lost the
    battle, but we can hold our heads up high knowing that we gave it our all.</p>


  <p>And to our loyal Reddit community, I want to say thank you for all of your support and dedication over the years.
    It's been a wild ride, and we couldn't have done it without you. We hope you will join us in bidding farewell to
    Reddit, and embracing the exciting new world of Tidder.</p>


  <p>Sincerely,<br>
    Your (former) CEO of Reddit</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Pay respect</button>
</mat-dialog-actions>
