main{
  margin-bottom: 5px;
  cursor: pointer;
  /*max-width: 500px;*/
}

#content-preview{
  /*max-height: 4em;*/
  /*overflow: hidden;*/
  /*margin-bottom: 15px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
