<main (click)="showMessageView()">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.authorName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p id="content-preview">{{post.attachments[0].content}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <app-perception-bar-view [perception]="post.perception" [engagement]="post.engagement"></app-perception-bar-view>
  </mat-card>
</main>
