<main>

  <mat-card-title style="margin-bottom: 5px">Log in</mat-card-title>
  <mat-card-subtitle>Enter your id and password</mat-card-subtitle>

  <mat-form-field style="margin-top: 10px">
    <mat-label>id</mat-label>
    <input matInput [(ngModel)]="id" placeholder="Enter your id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" placeholder="Enter your password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()" mat-dialog-close="">Log in</button>
</main>
