<main>
  <div *ngIf="attachment.type === 'image'">
    <img style="max-width: 100%" [src]="attachment.content" alt=""/>
  </div>
  <div *ngIf="attachment.type === 'video'" style="display: flex; align-items: center">
    <!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player"-->
    <!--            frameborder="0"-->
    <!--            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
    <!--            allowfullscreen></iframe>-->
    <mat-icon>videocam</mat-icon>
    <a [href]="attachment.content">{{attachment.content}}</a>
  </div>
  <div *ngIf="attachment.type === 'text'">
    <p>{{attachment.content}}</p>
  </div>
  <div *ngIf="attachment.type === 'link'" style="display: flex; align-items: center">
    <mat-icon>link</mat-icon>
    <a [href]="attachment.content">{{attachment.content}}</a>
  </div>
</main>
