<main>
  <div id="loading" *ngIf="postIDs.length == 0">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="wideMode" id="wideMode">
    <div class="postsCol">
      <app-post-view *ngFor="let postID of evenIndexPostIDs()" [postID]="postID"></app-post-view>
    </div>
    <div class="postsCol">
      <app-post-view *ngFor="let postID of oddIndexPostIDs()" [postID]="postID"></app-post-view>
    </div>
  </div>
  <div *ngIf="!wideMode" class="postsCol">
      <app-post-view *ngFor="let postID of postIDs" [postID]="postID"></app-post-view>
  </div>
</main>
