<main>
  <app-perception-bar-view [perception]="post.perception" [engagement]="post.engagement"></app-perception-bar-view>
  <div mat-dialog-title>
    {{post.title}}
    <div style="display: flex; align-items: center">
      <app-user-view [vID]="post.authorVid"></app-user-view>
      <ng-container *ngIf="post.authorVid == auth.selfVid">
        <div style="width: 10px"></div>
        <button mat-icon-button (click)="editPost()" mat-dialog-close="">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deletePost()" mat-dialog-close="">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <div style="flex: 1; min-width: 20px"></div>
      <app-like-dislike-view [cid]="post.cid"></app-like-dislike-view>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div *ngFor="let attachment of post.attachments">
      <app-attachment-view [attachment]="attachment"></app-attachment-view>
    </div>
<!--    <app-comments-view [cid]="post.cid"></app-comments-view>-->
  </mat-dialog-content>
</main>
