<main>
  <mat-progress-bar mode="indeterminate" color="warn"  *ngIf="vID == ''" style="width: 100px"></mat-progress-bar>
  <button mat-stroked-button *ngIf="vID != ''" [matMenuTriggerFor]="mainView">
    <div id="user-info-wrapper">
      <app-figure-view *ngIf="loadFigure" [fid]="user.thumbnailID"></app-figure-view>
      <span style="font-size: 17px;font-weight: lighter">{{user.name}}</span>
    </div>
  </button>
  <mat-menu #mainView="matMenu" xPosition="before" yPosition="below">
    <app-user-main-view [user]="user"></app-user-main-view>
  </mat-menu>
</main>
